.affiliation {
	font-size: 50%;
	margin-top: 3.5em;
	opacity: .8;
	text-align: center;
}

.affiliation a {
	text-decoration: none;
}

.affiliation img {
	width: 4em;
	padding: 0 .8em;
	vertical-align: middle;
}
