.affiliation {
	font-size: 50%;
	float: right;
	margin-top: 3em;
	opacity: .8
}

.affiliation a {
	text-decoration: none;
}

.affiliation img {
	width: 4em;
	padding: 0 .8em;
	vertical-align: middle;
}
