table {
	display: inline-block;
	width: 48%;
}

caption {
	font-weight: bold;
}

th {
	text-align: right;
}

td {
	text-align: right;
}

summary {
	cursor: pointer;

	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
}

tr.imprecise {
	font-style: italic;
}
