body {
	padding-top: 3em;
	max-width: 45em;
	margin: auto;
	text-align: center;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 150%;
	line-height: 2.5;
}

input, select {
	font-size: 100%;

	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: white;
	border: none;
	border-bottom: 1px solid #9A9A9A;
	border-radius: 0;
	padding: .25em 0;
	margin: 0 .5em;
	vertical-align: middle;
}

#details {
	font-size: 60%;
}

[hidden] {
	display: none;
}


@media(max-width: 500px) {
	body {
		padding: 0;
		width: 15em;
		text-align: left;
	}

	input {
		margin: 0;
	}
}
