.SGMAPembauche {
	font-size: 150%;
	padding-top: 1em;
	max-width: 45em;
	line-height: 2.5;
}

#input, #error, #result, summary {
	text-align: center;
}

input, select {
	font-size: 100%;
	appearance: none;
	background-color: white;
	border: none;
	border-bottom: 1px solid #9A9A9A;
	border-radius: 0;
	padding: .25em 0;
	margin: 0 .5em;
	vertical-align: middle;
}

details {
	font-size: 60%;
}

[hidden] {
	display: none;
}

#affiliation {
	font-size: 50%;
	text-align: right;
	line-height: 1.5;
}

#affiliation a {
	display: block;
}

#affiliation img {
	height: 2em;
}

#affiliation__sgmap {
	float: right;
	padding-left: 1em;
	margin-top: 0;
}

#affiliation__header {
	font-weight: bold;
	color: rgb(138, 0, 46);
	text-decoration: none;
}

#affiliation__sgmap img {
	height: 5em;
}

#affiliation__beta {
	font-size: 80%;
}

#error {
	color: red;
	border: 1px solid red;
	border-radius: .5em;
}

.js-only {
	display: none;
}

@media(max-width: 500px) {
	body {
		padding: 0;
		width: 15em;
		text-align: left;
	}

	input {
		margin: 0;
	}
}
