/*
	Unify browser styles and reset opinionated defaults;
	Reset style decisions that would break (rather than just customize)
	the widget's form layout.
 */

[hidden],
.js-only {
	display: none;
}

/* Reset fieldset style */
fieldset {
	border: 0;
	padding: 0;
	padding-top: .01em;
	margin: 0;
	min-width: 0;
}

/* Remove spinner controls from Firefox */
input[type="number"] {
	appearance: textfield;
}

/* Re-applies the controls on :hover and :focus
to get the same behavior as on Chrome */
input[type="number"]:hover,
input[type="number"]:focus {
	appearance: number-input;
}


select {
	width: auto;
	height: auto;
}

input {
	line-height: normal;
	height: auto;
}

label {
	font-size: 100%;
	font-weight: normal;
}
