.results {
	margin: auto;
	margin-top: 1.5em;
	width: 90%;
}

.results h1 {
	font-size: 60%;
	color: #346DB9;
	font-weight: 300;
	line-height: 1.3em;
	margin: 0;
}

.results .content {
	background: #4A89DC; /* main blue */
	padding: .01em 1.8em;
	position: relative;
}


.results .figures {
	display: inline-block;
	width: 70%;
}

.results p {
	color: #CEE3FF; /* lighter blue */
	line-height: 1em;
	border-left: 3px solid white;
	padding-left: .65em;
}

.results .figure {
	color: white;
}

/* See handleResultActions() for what happens with these buttons */

button.action span {
	text-transform: uppercase;
}

/* Change button text on hover */
.show-advanced span.on-hover {
	display: none;
	font-style: italic;
	text-transform: none;
}
.show-advanced:hover:enabled span.regular {
	display: none;
}
.show-advanced:hover:enabled span.on-hover {
	display: inline;
}


.show-advanced {
	background: none;
	border: 1px solid rgb(154, 154, 154);
	padding: .25em;
	cursor: pointer;
	width: 16em;
	margin: 0 auto;
	display: block;
	font-size: 55%;
}
.show-advanced[disabled]{
	display: none;
}

.show-details {
	background: none;
	border: 1px solid white;
	color: white;
	font-size: 55%;
	padding: .3em;
	cursor: pointer;
	width: 15em;
	position: absolute;
	top: 40%;
}


.show-details:hover {
	background: #70A7EE;
}

.show-details:active {
	border: none;
}

.show-details[disabled]{
	border: none;
	background: white;
	color: #346DB9; /* darker blue for texts */
}



.bring-input-back {
	display: block;
	margin: 0 auto;
	width: 60%;
	background: none;
	border: 1px solid white;
	color: rgba(0, 0, 0, .5);
	font-style: italic;
	font-size: 70%;
	padding: .3em;
	cursor: pointer;
	text-align: center;
}
.bring-input-back:disabled {
	display: none;
}
