{
    "rules": {
        "indentation": "tab",
        "string-quotes": "double",
        "declaration-block-trailing-semicolon": "always",
        "comment-whitespace-inside": "always",
        "no-missing-end-of-source-newline": true,
        "max-empty-lines": 2,

        "color-no-invalid-hex": true,

        "number-leading-zero": "never",
        "length-zero-no-unit": true,

        "function-calc-no-unspaced-operator": true,
        "function-linear-gradient-no-nonstandard-direction": true,

        "declaration-block-semicolon-newline-after": "always",

        "block-opening-brace-newline-after": "always",
        "block-closing-brace-newline-after": "always",

        "selector-pseudo-element-colon-notation": "double",

        "at-rule-empty-line-before": "always"
    }
}
