{
    "rules": {
        "indentation": [ 2, "tab" ],
        "string-quotes": [ 2, "single" ],
        "function-url-quotes": [ 2, "single"],
        "rule-trailing-semicolon": [ 2, "always" ],
        "comment-space-inside": [ 2, "always" ],
        "no-missing-eof-newline": 2,
        "no-multiple-empty-lines": 2,

        "color-hex-case": [ 2, "upper" ],
        "color-no-invalid-hex": 2,

        "number-leading-zero": [ 2, "never" ],
        "number-zero-length-no-unit": 2,

        "function-calc-no-unspaced-operator": 2,
        "function-linear-gradient-no-nonstandard-direction": 2,

        "declaration-block-semicolon-newline-after": [ 2, "always" ],

        "block-opening-brace-newline-after": [ 2, "always" ],
        "block-closing-brace-newline-after": [ 2, "always" ],

        "selector-pseudo-element-colon-notation": [ 2, "double" ],

        "at-rule-empty-line-before": [ 2, "always" ]
    }
}
