/*
Ressources pour améliorer le style du tableau :
https://tympanus.net/Tutorials/StickyTableHeaders/index2.html

*/

#taxes {
	font-size: 60%;
	margin-top: 3em;
	line-height: normal;
}

table {
	width: 100%;
	float: left;
	margin-bottom: 3em;
	border-spacing: 2px;
	font-size: 130%;
}

@media(max-width: 1024px) {
	table {
	}
}

caption {
	font-weight: bold;
	border-bottom: 1px solid #C3C3C3;
	margin-bottom: 1em;
	font-size: 115%;
}

thead tr th {
	border-bottom: 1px solid #4A89DC;
	color: #4A89DC;
	font-size: 105%;
	text-align: center;
	min-width: 7.5em;
	line-height: 2em;
}

thead tr th:first-child {
	visibility: hidden;
}


/* Un padding entre les différentes catégories de résultats */
tbody::before
{
  content: '';
  display: block;
  height: 1em;
}

tbody:first-of-type::before {
	display: none;
}

tr:nth-child(2n) {
	background: #f8f8f8
}
td {
	line-height: 2em;
}
td,th {
	display: table-cell;
	padding: .15em .6em;
}

th {
}

td.value {
	text-align: right;
}

td .na {
	opacity: .4
}

.category th {
	font-weight: 300;
	color: #4A89DC;
	font-size: 140%;
	padding-left: 0;
	text-align: left;
	line-height: 2em;
}
tr.category {
	border-bottom: 3px solid #4A89DC;
	background: white;
}

.explanation {
	font-size: 75%;
	font-style: italic;
	color: #444;
	line-height: 1.2em;
	position: relative;
	margin-left: 1.5em;
	padding-bottom: .6em;
}
.explanation span {
	display: inline-block;
	width: 75%;
}
.explanation a {
	color: #4A89DC;
	position: absolute;
	right: .3em;
	bottom: .3em;
}
