.advanced-simulation {
	/* font-family: 'Open Sans'; */
	font-size: 80%;
	color: #555;
	line-height: normal;
}

#conversation {
	margin: 3em auto;
	width: 40em;
}

.step {
	position: relative;
	margin-bottom: 3.5em;
}


.form-group {
	position: relative;
	margin-bottom: 3.5em;
}

.form-group.explicit > .group-content {
	border-left: 1px solid #4A89DC;
	margin-left: 1em;
	padding: .8em 0 0 1.3em;
}

.form-group.folded .group-content {
	border: none;
}

.form-group .header {
	margin: 4em 0 .6em 0;
}

/* This is a specialization of .ignore for .form-group */
.form-group .ignore {
	top: .3em;
	bottom: auto;
	left: 3%;
}

/* Simple way for a visual stack,
hinting on the fact that it is a group result */
.group-title {
	position: relative;
	display: inline-block;
}
.group-title h1 {
	font-size: 100%;
	font-weight: 400;
	padding: .5em .8em;
	margin: 0;
	border-radius: 1em;
	position: relative;
	width: 100%;
	border: 1px solid rgba(0,0,0,.3);
}
.form-group.unfolded .group-title h1 {
	color: #4A89DC;
	border: 1px solid #4A89DC;
}
.form-group.unfolded .group-title h1:first-child {
	display: none;
}

.form-group.folded .group-title h1:nth-child(2) {
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.6);
}
.form-group.folded .group-title h1:first-child {
	color: transparent;
	border-top: none;
	border-left: none;
	position: absolute;
	left: .15em;
	top: .15em;
}

.step h1 {
	display: inline-block;
	max-width: 60%;
	font-size: 100%;
	font-weight: 400;
	padding: .5em .8em;
	margin: 0;
	border-radius: 1em;
	position: relative;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.3);
}
.step.unfolded h1 {
	cursor: default;
}
/* The unfolded step is the currently focused
question : make it visible with colors */
.step.unfolded h1 {
	border: 1px solid #4A89DC;
	background: none;
	color: #4A89DC;
}

/* Our little question help icon */
.question-mark {
	display: inline-block;
	float: right;
	margin-top: .5em;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.3em;
	border-radius: 1em;
	font-size: 90%;
	color: #777;
	border: 1px solid #777;
	background: none;
	text-align: center;
	cursor: pointer;
}
.question-mark:hover {
	color: #333;
	border: 1px solid #333;
}

.step fieldset {
	/* Reset the default style of this element */
	border: 0;
	margin: .3em;
	padding: 0;
	width: 95%;
}

.step label.radio,
/* A resume of what's been answered */
.resume {
	text-align: center;
	margin-left: 1em;
	margin-top: 2em;
	cursor: pointer;
	background: none;
	padding: 0 .8em;
	line-height: 1.8em;
	border-radius: 1em;
	float: right;
	color: #4A89DC;
	border: 1px solid #4A89DC;
}
.step label.radio:hover {
	background: #4A89DC;
	color: white;
}
.step label.radio.checked,
.resume {
	background: #4A89DC;
	border-color: #4A89DC;
	color: white;
}

.answer-appear {
	background: #AAB2BD;
}

.answer-appear.answer-appear-active {
	background: #4A89DC;
	transition: background .2s ease-in;
}

.resume {
	transition: 1s display;
}

.answer-ignored {
	font-size: 60%;
	opacity: .8;
	margin-left: .8em;
	vertical-align: middle;
}

.ignore, .ignore:visited {
	cursor: pointer;
	position: absolute;
	bottom: 0em;
	color: #888;
	font-weight: 200;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
	font-size: 80%;
}

.step input[type=radio] {
	display : none;
}

.step input[type=text],
.step input[type=number] {
	color: #434A54;
	border-bottom: 1px solid #AAB2BD;
	display: inline-block;
	line-height: 1.8em;
	font-size: 100%;
	padding: 0;
	padding-right: .4em;
	width: 9em;
	text-align: right;
}

.step input[type=number]::-webkit-outer-spin-button,
.step input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}

.step input[type=number] {
		-moz-appearance:textfield;
}

.step input.suffixed {
	padding-right: 1.5em;
}

.step label.suffix {
	margin: -2em;
	font-size: 85%;
	color: #AAB2BD;
	vertical-align: middle;
}

.step input[type=text]:focus,
.step input[type=number]:focus {
	border-color: #D0D4D8;
	outline: none;
}

.help-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: white;
	text-align: center;
}

.help-box p {
	padding: 1em;
	font-size: 90%;
	font-style: italic;
}

.close-help {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 150%;
}
.close-text {
	font-size: 60%;
	font-weight: 800;
	vertical-align: middle;
}

.step .send {
	position: relative;
	left: 4.5em;
	padding: 0 .1em 0 .5em;
	bottom: 0;
	background: none;
	cursor: pointer;
	color: #4A89DC;
	border: 1px solid;
	line-height: 0em;
}

.step .send[disabled]{
	visibility: hidden;
}

.step .send .icon {
	margin-left: .2em;
	font-size: 150%;
	color: #4A89DC;
	vertical-align: middle;
}

.step .send .text {
	text-transform: uppercase;
	font-size: 90%;
	line-height: 2em;
}

.answer {
	float: right;
}

.step-input-error {
	position: absolute;
	right: 0;
	bottom: -1.5em;
	font-size: .8em;
	font-style: italic;
}
