.SGMAPembauche {
	padding-top: 1em;
	max-width: 45em;
	line-height: 2.5;
	font-size: 125%;
	margin: auto;
}

.widget input, .widget select {
	font-size: 100%;
	appearance: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #aaa;
	border-radius: 0;
	padding: .2em 0;
	margin: 0 .5em;
	color: rgba(0, 0, 0, .8);
	text-align: center;
}

.widget input[type="number"] {
	max-width: 5em;
}
